*{
    box-sizing: border-box;
  }
  
  body {   
    font-family: 'Alfa Slab One', cursive;
    margin: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
main {
    flex-grow: 1;
  }
  
footer {
    padding-top: 0;
    text-align: center;
    margin: 1;
  }

.icons{
  display: flex;
  flex-wrap: wrap;
}