{% extends 'base.html' %} {% block content %}
<h1>Song Details</h1>

<div class="row">
    <span class="card-body"> Title: {{song.title}}</span>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
    <h4>Artist: {{song.artist}}</h4>
    <p>Memory: {{song.memory}}</p>
</div>
</div>
</div>
<div class="btn-group">
    <a href="{% url 'songs_update' song.id %}">
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
    </a>
    <a href="{% url 'songs_delete' song.id %}">
        <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
    </a>
</div>

{% endblock %}