{% extends 'base.html' %} {% block content %}
<h1>Song List</h1>

{% for song in songs %}
<a href="{% url 'detail' song.id %}">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shawdow-sm">
                        <div class="card-body">
                            <span>{{song.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

{% endfor %} {% endblock %}